:root {
  --primary-color: #515DEF;
  --secondary-color: #909090;
}

@keyframes rotar {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(20deg);
  }
}

body {
  box-sizing: border-box;
}

.page {
  width: 1500px;
  font-family: "Poppins", sans-serif;
  background-image: url("../img/smiling-creative-business-team-discussing-over-lap-566JQTQ\ 1@2x.png"), linear-gradient(var(--primary-color), var(--primary-color));
  background-size: 40%, cover;
  background-repeat: no-repeat;
  background-position: top right;

}

.header {
  padding: 16px 120px;
  display: flex;
  align-items: center;
}

.header figure {
  margin: 0;
}

.header figcaption {
  display: none;
}

.header nav {
  width: 100%;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header ul a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  padding: 7px 15px;
}

.header ul li:last-child {
  margin-left: auto;
  display: inline-block;
}

.header ul li:last-child a {

  background-color: var(--primary-color);
}

.header ul li:not(:last-child):hover a {
  background-color: white;
  color: var(--primary-color);
  font-weight: 600;
}

.header ul li:last-child:hover a {
  background-color: white;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

}

.hero {
  box-sizing: border-box;
  padding: 16px 120px;
  width: 60%;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.hero h1 {
  color: white;
  font-size: 45px;
}

.hero a {
  max-width: fit-content;
  display: flex;
  background-color: white;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.hero a img {
  width: 40px;
  margin: 0;

}

.hero a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 60px;
  background-color: white;
  width: fit-content;
}

.categories div {
  padding: 0;
  background-color: white;
  width: 280px;
}

h2 {
  font-size: 14px;
  font-weight: 700;
}

.categories p {
  font-size: 14px;
  color: var(--secondary-color);
}

.categories div:hover img {
  animation: rotar 1s linear;
}